<style>
  .pest-experts-title h1{
      padding: 100px 0;
  }
  .pest-experts-title{
      text-align: center;
  }
  .pest-experts-form{
      width: 100%;
      height: 500px;
      background-color: gray;
  }
  .pest-experts-img{
      text-align: center;
  }
  .pest-experts-img img{
      width: 70%;
  }
  .pest-experts-content{
      margin-bottom: 5%;
  }
  .pest-experts-contact-number{
      padding-top: 8%;
  }
  .pest-experts-contact-number ul{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .pest-experts-contact-number ul li img{
      width: 35px;
      height: 35px;
  }
  .pest-experts-contact-number ul li{
      margin-bottom: 5px;
  }
  .pest-experts-contact-number ul li a {
      color: black;
      font-size: 19px;
      font-weight: 600;
  }
  .pest-experts-content p {
      line-height: 1.5;
  }

  /* Mobile Layout: 320px. */
  @media only screen and (max-width: 767px) { 
      .pest-experts-chat-img img{
          width: 30%;
      }
      .pest-experts-contact-number {
          padding-top: 0%;
      }
      .pest-experts-img{
          margin-top: 5%;
      }
      .pest-experts-title h1{
          padding: 50px 0;
      }
  }
</style>  
  
  <!--Start Main Body Code-->
   <div class="pest-experts-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pest-experts-title">
                    <h1>{{ section.settings.ask_an_expert_title }}</h1>
                </div>
            </div>
        </div> <!--End Row-->
        <div class="row">
            <div class="col-md-6">
                <div class="pest-experts-form">
                  <div style="margin:0 auto;" class="pxFormGenerator" id="N1vglQpFASRxERsnxWidBQ"></div>
                </div>
            </div> <!--End-Col-6-->
            <div class="col-md-6">
                <div class="pest-experts-img">
                    <img src="{{ section.settings.ask_an_expert_image | img_url: '' }}" class="img-fluid" alt="">
                </div>
                <div class="pest-experts-content">
                    <p>{{ section.settings.ask_an_expert_description }}</p>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="pest-experts-chat-img">
                            <a href="{{ section.settings.ask_an_expert_url }}"><img src="https://i.postimg.cc/26FBmwrJ/Asset-3-4x-8.png" class="img-fluid" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="pest-experts-contact-number">
                            <ul>
                                <li> <img src="https://i.postimg.cc/nr3TkmSs/Asset-2-4x-8.png" alt=""> <a href="tel:{{ section.settings.ask_an_expert_phone }}">{{ section.settings.ask_an_expert_phone }}</a></li>
                                <li> <img src="https://i.postimg.cc/fTpXc5T4/Asset-3-4x-8.png" alt=""> <a href="mailto:{{ section.settings.ask_an_expert_email }}">{{ section.settings.ask_an_expert_email }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!--End Row-->

            </div> <!--End-Col-6-->
        </div> <!--End Row -->
    </div>
</div>
<!--End Main Body Code-->

{% schema %}
{
    "name": "Ask An Expert",
    "settings":[
        {
            "type": "text",
            "id": "ask_an_expert_title",
            "label": "Ask And Expert Title",
            "default": "It is a long established fact that a reader will be distracted by the readable content of a page when looking"
        },
        {
            "type": "image_picker",
            "id": "ask_an_expert_image",
            "label": "Ask Expert Image"
        },
        {
            "type": "text",
            "id": "ask_an_expert_description",
            "label": "Ask And Expert Description",
            "default": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,"
        },
        {
            "type": "url",
            "id": "ask_an_expert_url",
            "label": "Ask Expert URL"
        },
        {
            "type": "text",
            "id": "ask_an_expert_phone",
            "label": "Ask And Expert Phone",
            "default": "1-866-269-2847"
        },
        {
            "type": "text",
            "id": "ask_an_expert_email",
            "label": "Ask And Expert Email",
            "default": "service@ecopeststore.ca"
        }
    ],
    "presets": [
      {
        "name": "Ask An Expert"
      }
    ]
}
{% endschema %}