<style>
    body {
        background: #f5f5f6;
        margin-top: 20px;
    }

    /*Faq*/

    .faq-search-wrap {
        padding: 50px 0 60px;
    }

    .faq-search-wrap .form-group .form-control,
    .faq-search-wrap .form-group .dd-handle {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    .faq-search-wrap .form-group .input-group-append {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        pointer-events: none;
    }

    .faq-search-wrap .form-group .input-group-append .input-group-text {
        background: transparent;
        border: none;
    }

    .faq-search-wrap .form-group .input-group-append .input-group-text .feather-icon>svg {
        height: 18px;
        width: 18px;
    }

    .bg-teal-light-3 {
        background-color: #1e1e1e !important;
    }

    .hk-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;
    }

    .list-group-item.active a {
        color: #fff;
    }

    @media (min-width: 576px) {
        .mt-sm-60 {
            margin-top: 60px !important;
        }
    }

    .mt-30 {
        margin-top: 30px !important;
    }

    .list-group-item.active {
        background-color: #1c3d72;
        border-color: #1c3d72;
    }

    .accordion .card .card-header.activestate {
        border-width: 1px;
    }

    .accordion .card .card-header {
        padding: 0;
        border-width: 0;
    }

    .card.card-lg .card-header,
    .card.card-lg .card-footer {
        padding: .9rem 1.5rem;
    }

    .accordion>.card .card-header {
        margin-bottom: -1px;
    }

    .card .card-header {
        background: transparent;
        border: none;
    }

    .accordion.accordion-type-2 .card .card-header>a.collapsed {
        color: #324148;
    }

    .accordion .card:first-of-type .card-header:first-child>a {
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
    }

    .accordion.accordion-type-2 .card .card-header>a {
        background: transparent;
        color: #324148;
        padding-left: 50px;
    }

    .accordion .card .card-header>a.collapsed {
        color: #324148;
        background: transparent;
    }

    .accordion .card .card-header>a {
        background: #324148;
        color: #fff;
        font-weight: 500;
        padding: .75rem 1.25rem;
        display: block;
        width: 100%;
        text-align: left;
        position: relative;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    a {
        text-decoration: none;
        color: #324148;
        -webkit-transition: color 0.2s ease;
        -moz-transition: color 0.2s ease;
        transition: color 0.2s ease;
    }


    .badge.badge-pill {
        border-radius: 50px;
    }

    .badge.badge-light {
        background: #eaecec;
        color: #324148;
    }

    .badge {
        font-weight: 500;
        border-radius: 4px;
        padding: 5px 7px;
        font-size: 72%;
        letter-spacing: 0.3px;
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        text-transform: capitalize;
    }

    .ml-15 {
        margin-left: 15px !important;
    }

    .accordion.accordion-type-2 .card .card-header>a.collapsed:after {
        content: "\f158";
    }

    .accordion.accordion-type-2 .card .card-header>a::after {
        display: inline-block;
        font: normal normal normal 14px/1 'Ionicons';
        speak: none;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: auto;
        position: absolute;
        content: "\f176";
        font-size: 21px;
        top: 10px;
        left: 20px;
    }

    .mr-15 {
        margin-right: 15px !important;
    }

    .container-fluid.row-full {
        margin: 0 !important;
        padding: 0 !important;
        margin-bottom: 70px !important;
    }

    .col-lg-7.faq-search {
        margin: 0 auto;
    }

    .card .activestate {
        background: #1c3d72;
    }

    .accordion.accordion-type-2 .card .activestate>a {
        color: #fff;
    }

    .activestate .collapsed {
        color: #fff !important;
    }

    .faq-search-header {
        color: #0b384e !important;
        margin: 10px 0px;
    }

    #easy-faq-search-bar-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .easy-faq-search-bar input {
        width: 80%;
        margin: 0 auto;
        border-radius: 5px;
        height: 55px;
        font-size: 18px;
        padding: 10px 18px;
        background: #fff;
        border: 1px solid #1c3d72;
    }

    .product_faq .col-lg-3.text-center {
        margin-bottom: 15px;
    }

    .form-section label {
        width: 100%;
    }

    .form-section input,
    .form-section textarea {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
    }

    .form-section button {
        padding: 15px 20px;
        border: none;
        border-radius: 3px;
        background: #1c3d72;
        color: #fff;
        margin-bottom: 30px;
        text-align: center;
    }

    .faq-form {
        padding-top: 25px;
    }

    h3.card-header.border-bottom-0 {
        border-bottom: 1px solid #eaeaea !important;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.0/css/ionicons.min.css"
    integrity="sha256-F3Xeb7IIFr1QsWD113kV2JXaEbjhsfpgrKkwZFGIA4E=" crossorigin="anonymous" />


<div class="headerimg">
    <style>
        .headerimg::before {
            background-image: url('{{ section.settings.collection_hero_img | img_url: '' }}');
        }
    </style>

    <div class="middle-text">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8">
                    <div class="sec-title">
                        <h2 style="color: {{ section.settings.collection_header_color }}" class="prd_title">{{
                            section.settings.page_header_ttle }}
                        </h2>
                        <div class="serch-faq easy-faq-search-bar" id="easy-faq-search-bar-section">
                            <h2 class="faq-search-header">{{ section.settings.ask_question_header }}</h2>
                            <input type="text" id="faqSearch" placeholder="{{ section.settings.search_text }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid row-full">
    <!-- Row -->
    <div class="row">
        <div class="col-xl-12 pa-0">
            <div class="container mt-sm-60 mt-30 mb-30">
                <div class="hk-row">
                    <div class="col-xl-5">
                        <div class="card">
                            <h3 class="card-header border-bottom-0">
                                {{ section.settings.contact_form_title }}
                            </h3>

                            <div class="accordion accordion-type-2 accordion-flush" id="">
                                <div class="faq-form">
                                    {% form 'contact', enctype: 'multipart/form-data' %}
                                    {% if form.posted_successfully? %} Thank you for your contact {% endif %}
                                    {{ form.errors | default_errors }}
                                    <div class="container">
                                        <div class="row">

                                            <div class="col-lg-6">
                                                <div class="form-section">
                                                    <label for="">Your Name</label>
                                                    <input type="text" name="contact[name]" placeholder="Type your name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-section">
                                                    <label for="">Your Email</label>
                                                    <input type="text" name="contact[email]" placeholder="Type your email">
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-section">
                                                    <label for="">Your Phone</label>
                                                    <input type="tel" name="contact[phone]" placeholder="Type your phone number">
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-section">
                                                    <label for="">Your File</label>
                                                    <input type="file" id="upload_file" name="contact[uploadfile]" >
                                                </div>
                                            </div>


                                            <div class="col-lg-12">
                                                <div class="form-section">
                                                    <label for="">Your Message</label>
                                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-section">
                                                    <button type="submit">Submit Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%- endform -%}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="card card-lg">
                            <h3 class="card-header border-bottom-0">
                                {{ section.settings.faq_title }}
                            </h3>
                            <div class="accordion accordion-type-2 accordion-flush" id="accordion_2">

                                {% for faq in section.blocks %}
                                <div class="card">
                                    <div data-next-url="appication_{{ forloop.index }}" id="faq_id_{{ forloop.index }}"
                                        class="card-header d-flex justify-content-between on-click-faq {% if forloop.index == 1 %} activestate {% endif %}">
                                        <a role="button" data-toggle="collapse" href="#collapse_{{forloop.index}}i" {%
                                            if forloop.index==1 %} aria-expanded="false" {% endif %}
                                            class="collapsed">{{
                                            faq.settings.faq_question_title }}</a>
                                    </div>
                                    <div id="collapse_{{forloop.index}}i"
                                        class="collapse {% if forloop.index == 1 %} show {% endif %} "
                                        data-parent="#accordion_2" role="tabpanel">
                                        <div class="card-body pa-15">{{ faq.settings.faq_description }}</div>
                                        <div class="product_faq">
                                            <div class="container">
                                                <div class="row">
                                                    {% for product in faq.settings.faq_collection.products limit:8 %}
                                                    <div class="col-lg-3 text-center">
                                                        <div class="product-grid-faq">
                                                            <img src="{{ product.featured_image.src | img_url: '' }}"
                                                                alt="" width="80">
                                                            <a href="{{ product.url }}">
                                                                <h3 style="font-size: 12px;">{{ product.title |
                                                                    truncate: 65 }}</h3>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>

{% schema %}
{
    "name": "Faq Section",
    "settings":[
        {
        "type": "image_picker",
        "id": "collection_hero_img",
        "label": "Ask an Expert Hero Image"
        },
        {
            "type": "text",
            "id": "contact_form_title",
            "label": "Left Contact Form Title",
            "default": "Contact Form"
        },
        {
            "type": "text",
            "id": "faq_title",
            "label": "Faq Header Title",
            "default": "FAQ Questios"
        },
        {
            "type": "text",
            "id": "ask_question_header",
            "label": "Search Question Title",
            "default": "Frequently Asked Questions"
        },
        {
            "type": "text",
            "id": "search_text",
            "label": "What can we help you with?",
            "default": "What can we help you with?"
        }
    ],
    "presets": [
        {
        "name": "Faq Section",
        "category": "image"
        }
       
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Add Faq",
            "settings": [
                {
                    "type": "text",
                    "id": "faq_question_title",
                    "label": "Faq Title",
                    "default": "Type your FAQ question"
                },
                {
                    "type": "richtext",
                    "id": "faq_description",
                    "label": "Faq Description",
                    "default": "<p>The Intellectual Property disclosure will inform users that the contents, logo and other visual media you created is your property and is protected by copyright laws.</p>"
                },
                {
                    "type": "collection",
                    "id": "faq_collection",
                    "label": "Product Collections"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "FAQ Section",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  
}
{% endschema %}
