<style>
    .pro-service-box{
        width: 100%;
        height: auto;
        padding: 15px 15px 15px 15px;
        background: #FFFFFF;
        box-shadow: hsl(221deg 87% 43%) 0px 4px 12px !important;
        text-align: center;
    }
   
   .pro-service-box h6 {
       font-size: 14px;
       font-weight: bold;
       margin-bottom: 10px;
   }
   
   .pro-ser-img-box .pro-service-box {
       margin-bottom: 15px;
   }
   
   .pro-ser-img-box .container{
       margin: 0;
       padding: 0;
   }
   
    .pro-form-box{
        width: 100%;
        height: auto;
        padding: 25px 25px 35px 25px;
        background: #FFFFFF;
        box-shadow: hsl(221deg 87% 43%) 0px 4px 12px !important;
    }
   
    .pro-form-box form button {
       width: 100%;
       border-radius: 5px;
       background: #F43739;
   }
   
   .margin-bottom-10px{
       margin-bottom: 10px;
   }
   
   .margin-bottom-30px{
       margin-bottom: 30px;
   }
   
   .pad-t-30-p-b-30{
       padding-top: 30px;
       padding-bottom: 30px;
   }
   
   .pro-contact-box{
       width: 100%;
       height: auto;
       padding: 15px 15px 15px 15px;
       background: #FFFFFF;
       box-shadow: hsl(221deg 87% 43%) 0px 4px 12px !important;
   }
   
   .pro-contact-box h3{
       border-bottom: 1px solid #C2B0B0;
   }
   
   .pro-contact-box ul li {
       margin-bottom: 5px;
   }
   
   .pro-contact-box ul li a {
       color: black;
       font-size: 16px;
       font-weight: bold;
   }
   
   .pro-contact-box .fa-phone {
       background: red;
       color: white;
       border-radius: 50px;
       width: 30px;
       height: 30px;
       text-align: center;
       padding: 7px;
   }
   
   .pro-contact-box .fa-envelope {
       background: red;
       color: white;
       border-radius: 50px;
       width: 30px;
       height: 30px;
       text-align: center;
       padding: 7px;
   }
   
   .pro-contact-box .fa-map-marker {
       background: red;
       color: white;
       border-radius: 50px;
       width: 30px;
       height: 30px;
       text-align: center;
       padding: 7px;
   }
   
   .pro-form-box .form-control {
       background: #EEEEEE;
       border: 0px;
   }
   .pro-form-box h3, .pro-form-box p {
        margin-bottom: 15px;
    }
    .grid_small_imgs{
        width:100%;
        height:182px;
        overflow: hidden;
        object-fit: cover;
    }
    .small_grids_color h6, .small_grids_color a {
        color: inherit !important;
    }
   </style>
   
   <div class="diy-section pad-t-30-p-b-30">
       <div class="container">
           <div class="row">
             <div class="col-md-4">
                 <div class="pro-service-box margin-bottom-30px">
                   <img width="280" src="{{ section.settings.left_professional_image | img_url: '' }}" alt="">
                 </div>
   
                 <div class="pro-contact-box">
                   <h3 class="margin-bottom-10px">{{ section.settings.contract_us_title }}</h3>
                    <ul>
                        <li><a href="tel:{{ section.settings.contact_phone }}"><i class="fa fa-phone"></i> {{ section.settings.contact_phone }}</a></li>
                        <li><a href="mailto:{{ section.settings.contact_email }}"><i class="fa fa-envelope"></i> {{ section.settings.contact_email }}</a></li>
                        <li><a href=""><i class="fa fa-map-marker"></i> {{ section.settings.contact_address }}</a></li>
                    </ul>
                 </div>
   
              </div> <!-- end col-md-4 -->
              <div class="col-md-4">
                  <div class="pro-form-box">
                   <h3>{{ section.settings.form_title }}</h3>
                   <p class="margin-bottom-10px">{{ section.settings.form_description }}</p>
   
                   {% form 'contact', enctype: 'multipart/form-data' %}
                    {% if form.posted_successfully? %} Thank you for your contact {% endif %}
                    {{ form.errors | default_errors }}
                       <div class="form-row margin-bottom-10px">
                         <div class="col-md-6">
                           <input type="text" class="form-control" placeholder="Name" name="contact[name]" required>
                          </div> <!-- end col-md-6 -->
                         <div class="col-md-6">
                           <input type="email" class="form-control" placeholder="Email" name="contact[email]"  required>
                         </div> <!-- end col-md-6 -->
                       </div> <!-- End Form Row -->
   
                       <div class="form-row margin-bottom-10px">
                           <div class="col-md-6">
                             <input type="text" class="form-control" placeholder="Phone" name="contact[phone]"  required>
                            </div> <!-- end col-md-6 -->
                           <div class="col-md-6">
                             <input type="text" class="form-control" placeholder="Postal Code" name="contact[post]"  required>
                           </div> <!-- end col-md-6 -->
                       </div> <!-- End Form Row -->
   
                       <div class="form-group">
                            <select name="contact[pest]" class="form-control" required>
                                <option value="">Pest:</option>
                                {% for block in section.blocks %}
                                {% if block.settings.form_select_field != blank %}
                                    <option value="{{ block.settings.form_select_field }}">{{ block.settings.form_select_field }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                       </div> <!-- end form-group -->
   
                       <div class="form-group">
                           <textarea class="form-control" rows="5" name="contact[description]" required></textarea>
                       </div> <!-- end form-group -->
                       <button type="submit" class="btn btn-danger">SEND</button>
                    {%- endform -%} <!-- end form -->
   
                  </div> <!-- end section box -->
   
   
              </div> <!-- end col-md- 4 -->
   
              <div class="col-md-4">
               <div class="pro-ser-img-box">
                  <div class="container">
                           <div class="row">
                            {% for block in section.blocks %}
                                {% if block.type == "first-section" %}
                               <div class="col-md-6 small_grids_color">
                                   <a href="{{ section.settings.service_link }}">
                                        <div class="pro-service-box">
                                            {% if block.settings.service_title %}
                                            <h6>{{ block.settings.service_title }}</h6>
                                            {% endif %}
                                            <img src="{{ block.settings.service_image | img_url: '' }}" alt="" class="img-fluid grid_small_imgs">
                                        </div>
                                   </a>
                               </div> 
                               {% endif %}
                            {% endfor %}
                           </div>
                       </div>
                  </div>
              </div>  <!-- end col-md- 4 -->
           </div> <!-- end row -->
       </div>
   </div>


   {% schema %}
{
  "name": "Professional Service",
  "settings": [
    {
       "type": "image_picker",
       "id": "left_professional_image",
       "label": "Left Professional Image"
    },
    {
        "type": "text",
        "id": "contract_us_title",
        "label": "Contact Us Title",
        "default": "Left Professional Image"
    },
    {
        "type": "text",
        "id": "contact_phone",
        "label": "Phone Number",
        "default": "1-866-269-2847"
    },
    {
        "type": "text",
        "id": "contact_email",
        "label": "Email",
        "default": "service@ecopeststore.ca"
    },
    {
        "type": "text",
        "id": "contact_address",
        "label": "Address",
        "default": "8605 Coronet Rd. Edmonton, AB"
    },
    {
        "type": "text",
        "id": "form_title",
        "label": "Form Title",
        "default": "Book a Professional Onsite Service!"
    },
    {
        "type": "text",
        "id": "form_description",
        "label": "Form Description",
        "default": "Please complete the form below and our pest expert team will contact you as soon as possible!"
    }

  ],
  "blocks": [
        {
            "name": "Professional Service Item",
            "type": "first-section",
            "settings": [
                {
                    "type": "text",
                    "id": "service_title",
                    "label": "Service Title",
                    "default": "Book a Virtual Online Service"
                },
                {
                    "type": "url",
                    "id": "service_link",
                    "label": "Service Link"
                },
                {
                    "type": "image_picker",
                    "id": "service_image",
                    "label": "Service Image"
                }
                
            ]
        },
        {
            "name": "Pest Form Item",
            "type": "second-section",
            "settings": [
                {
                    "type": "text",
                    "id": "form_select_field",
                    "label": "Form Pest Field",
                    "default": "Bed Bug"
                }
                
            ]
        }
    ],
  "presets": [
    {
      "name": "Professional Service",
      "blocks": [
        {
          "type": "first-section",
          "type": "second-section"
        }
      ]
    }
  ]
}
{% endschema %}