{% paginate search.results by 12 %}
<div class="top-selling">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8">
        <div class="sec-title">
          <!-- <h2>Product Collection</h2> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="container">
        <div class="row">
          {% if search.results != blank %}
            {% for item in search.results %}
              <div class="col-lg-3">
                <div class="product-list">
                  <!-- item -->
                  <div class="item">
                    <div class="card">
                      <div class="card-body text-center">
                        <img src="{{ item.featured_image.src | img_url: 'large' }}" class="img-fluid"
                          alt="{{ item.featured_image.alt | escape }}">
                        <a href="{{ item.url }}">
                          <h5>{{ item.title | truncate: 65 }}</h5>
                        </a>
                        {% unless item.available %}<strong class="soldout">sold out</strong>{% endunless %}
                        <p>{{ item.price | money }}</p>
                        <form method="post" action="/cart/add">
                          <input type="hidden" name="id" value="{{ item.variants.first.id }}" />
                          <input min="1" type="number" id="quantity" hidden name="quantity" value="1" />
                          {% if item.available == true %}
                          <input type="submit" value="Add to cart" class="btn shop-now" />
                          {% else %}
                          <a class="btn shop-now disabled">Sold Out</a>
                          {% endif %}
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- item -->
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p style="text-align: center; margin: 0 auto; font-size: 22px; text-transform: capitalize;">no results</p>
          {% endif %}
          <!-- tab panel -->
        </div>
      </div>
    </div>
    <div class="pagination text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            {% if paginate.pages > 1 %}
            {{ paginate | default_pagination }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<!-- top selling product -->

{% endpaginate %}