<style>
  /* Start Pest Experts Multilist Css*/
  .pest-experts-multilist-section{
      padding: 100px 0;
  }
  .pest-experts-multilist-section-m-p {
      border-bottom: 1px dashed #dbd4d4;
      padding: 25px 0;
  }

  .pest-experts-multilist-section-m-p:last-child{
      border-bottom: 0px;
  }
  .pest-experts-multilist-img{
      text-align: center;
  }
  .pest-experts-multilist-img img{
      width: 100%;
      height: 100%;
      max-width: 100%;
      border: 1px solid #f3f3f3;
      border-radius: 5px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .pest-experts-multilist-content a {
      background-color: #074173;
      padding: 7px 25px;
      color: white;
      font-size: 14px;
      border-radius: 3px;
      display: inline-block;
  }
  .pest-experts-multilist-content p {
    margin: 14px 0;
    line-height: 1.5;
}
.pest-experts-multilist-section {
  max-width: 70%;
    margin: 0 auto;
}

  /* Mobile Layout: 320px. */
  @media only screen and (max-width: 767px) { 
      .pest-experts-multilist-content {
          padding-top: 15px;
          text-align: center;
      }
      .pest-experts-multilist-img img {
          width: 50%;
      }
      .pest-experts-multilist-section {
          max-width: 100%;
            margin: 0 auto;
        }
  }
  /* Start Pest Experts Multilist End*/
</style>

    <!--Start Pest Experts Multilist Section-->
    <div class="pest-experts-multilist-section">
      <div class="container">

        {% for block in section.blocks %}
          <div class="row pest-experts-multilist-section-m-p">
              <div class="col-md-3">
                  <div class="pest-experts-multilist-img">
                      <img src="{{ block.settings.Step_item_image | img_url: '' }}" class="img-fluid" alt="">
                  </div>
              </div>
              <div class="col-md-9">
                  <div class="pest-experts-multilist-content">
                      {% if block.settings.Step_item_title %}
                        <h4>{{ block.settings.Step_item_title }}</h4>
                      {% endif %}
                      {% if block.settings.Step_item_description %}
                      {{ block.settings.Step_item_description }}
                      {% endif %}
                      {% if block.settings.Step_item_url %}
                      <a href="{{ block.settings.Step_item_url }}">{{ block.settings.step_item_button_text }}</a>
                      {% endif %}
                      {% if block.settings.Step_ask_and_url %}
                      <a href="{{ block.settings.Step_ask_and_url }}">{{ block.settings.step_ask_button_text }}</a>
                      {% endif %}
                  </div>
              </div>
          </div> <!--End Row-->
        {% endfor %}
          
      </div>
  </div>
  <!--End Pest Experts Mulilist Section-->

{% schema %}
{
    "name": "Step Grid Section",
    "settings":[
    ],
    "blocks": [
        {
            "name": "Step Add",
            "type": "slideshow",
            "settings": [
                {
                    "type": "text",
                    "id": "Step_item_title",
                    "label": "Step Item Title",
                    "default": "Step By Pest"
                },
                {
                    "type": "richtext",
                    "id": "Step_item_description",
                    "label": "Step Item Description",
                    "default": "<p>It is a long established fact that a reader will be distracted by the readable content of a page when lookingIt is a long established fact that a reader will be distracted by the readable content of a page when lookingIt is a long established fact that a reader will be distracted by the readable content of a page when looking</p>"
                },
                {
                    "type": "image_picker",
                    "id": "Step_item_image",
                    "label": "Step Item Image"
                },
                {
                    "type": "url",
                    "id": "Step_item_url",
                    "label": "Step Link"
                },
                {
                    "type": "text",
                    "id": "step_item_button_text",
                    "label": "Step Button Text",
                    "default": "Learning Center"
                },
                {
                    "type": "url",
                    "id": "Step_ask_and_url",
                    "label": "Step Ask An Expert Link"
                },
                {
                    "type": "text",
                    "id": "step_ask_button_text",
                    "label": "Ask Button Text",
                    "default": "Ank And Expert"
                }

            ]
        }
    ],
    "presets": [
      {
        "name": "Step Grid Section",
        "blocks": [
          {
            "type": "slideshow"
          }
        ]
      }
    ]
}
{% endschema %}