<style>
    .margin-bottom-10px {
        margin-bottom: 10px;
    }

    .margin-bottom-30px {
        margin-bottom: 30px;
    }

    .pad-t-30-p-b-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }


    .pro-service-box {
        width: 100%;
        height: auto;
        padding: 15px 15px 15px 15px;
        background: #FFFFFF;
        box-shadow: hsl(221deg 87% 43%) 0px 4px 12px !important;
        text-align: center;
    }

    .pro-service-box img {
        width: 100%;
    }


    .pro-service-box-two {
        width: 100%;
        height: auto;
        padding: 5px;
        background: #FFFFFF;
        box-shadow: hsl(221deg 87% 43%) 0px 4px 12px !important;
        text-align: center;
    }

    .pro-service-box-two h6 {
        font-size: 11px;
        margin-bottom: 10px;
        font-weight: bold;
    }



    .pro-contact-box {
        width: 100%;
        height: auto;
        padding: 15px 15px 15px 15px;
        background: #FFFFFF;
        box-shadow: hsl(221deg 87% 43%) 0px 4px 12px !important;
    }

    .pro-contact-box h3 {
        border-bottom: 1px solid #C2B0B0;
    }

    .pro-contact-box ul li {
        margin-bottom: 5px;
    }

    .pro-contact-box ul li a {
        color: black;
        font-size: 16px;
        font-weight: bold;
    }

    .pro-contact-box .fa-phone {
        background: red;
        color: white;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 7px;
    }

    .pro-contact-box .fa-envelope {
        background: red;
        color: white;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 7px;
    }

    .pro-contact-box .fa-map-marker {
        background: red;
        color: white;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 7px;
    }

    .pro-form-box {
        width: 100%;
        height: auto;
        padding: 15px 15px 15px 15px;
        background: #FFFFFF;
        box-shadow: hsl(221deg 87% 43%) 0px 4px 12px !important;
    }

    .pro-form-box.vartual a {
        width: 100%;
        border-radius: 5px !important;
        background: #F43739;
        margin-top: 30px;
        color
    }

    .pro-list-box {
        width: 100%;
        height: auto;
        padding: 15px 15px 15px 15px;
        background: #FFFFFF;
        box-shadow: hsl(221deg 87% 43%) 0px 4px 12px !important;
    }

    .pro-list-box h3 {
        border-bottom: 1px solid #C2B0B0;
    }

    .pro-list-box ul li {
        font-size: 14px;
        font-family: 'Archivo', sans-serif;
        line-height: 23px;
        margin-bottom: 10px;
    }

    .pro-ser-img-box .container {
        margin: 0;
        padding: 0;
    }

    .col-md-6.nullPadding {
        padding-right: 10px !important;
        margin-bottom: 20px;
    }
    .pro-lists p{
        margin-bottom: 15px !important;
        position: relative;
        margin-left: 25px;
    }
    .pro-lists p::after {
        position: absolute;
        width: 5px;
        height: 5px;
        background: #f43739;
        content: "";
        left: -12px;
        top: 5px;
        border-radius: 50%;
    }
    .grid_small_imgs_vartual {
        height: 112px;
        width: 100%;
        object-fit: cover;
    }
    .pro-service-box img {
        width: inherit !important;
    } 
    .vartual-image_size img{
        width: 400px !important;
    }
    .nullPadding h6, .nullPadding a {
        color: inherit !important;
    }
    img.img-fluid.vartual-prd-img {
        width: 100%;
        height: 460px;
        object-fit: contain;
    }
</style>
<div class="diy-section pad-t-30-p-b-30">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="pro-service-box vartual-image_size margin-bottom-30px">
                    <img src="{{ section.settings.left_professional_image | img_url: '' }}"
                        alt="">
                </div>

                <div class="pro-contact-box">
                    <h3 class="margin-bottom-10px">{{ section.settings.contract_us_title }}</h3>
                    <ul>
                        <li><a href="tel:{{ section.settings.contact_phone }}"><i class="fa fa-phone"></i> {{ section.settings.contact_phone }}</a></li>
                        <li><a href="mailto:{{ section.settings.contact_email }}"><i class="fa fa-envelope"></i> {{ section.settings.contact_email }}</a></li>
                        <li><a href=""><i class="fa fa-map-marker"></i> {{ section.settings.contact_address }}</a></li>
                    </ul>
                </div>

            </div> <!-- end col-md-4 -->
            <div class="col-md-4">
                <div class="pro-form-box vartual">
                    <h3>{{ section.settings.form_title }}</h3>
                    {% assign product = all_products[section.settings.select_time_product] %}

                    <img src="{{ product.featured_image.src | img_url: '' }}" alt="" class="img-fluid vartual-prd-img">
                    <a href="{{ product.url }}" type="submit" class="btn btn-danger">Select Time</a>
                </div> <!-- end section box -->
            </div> <!-- end col-md- 4 -->
            <div class="col-md-4">

                <div class="pro-list-box margin-bottom-30px">
                    <h3 class="margin-bottom-10px">{{ section.settings.list_title }}</h3>
                    <ul class="pro-lists">
                        {{ section.settings.list_details }}
                    </ul>
                </div> <!-- pro-list-box -->

                <div class="pro-ser-img-box">
                    <div class="container">
                        <div class="row">
                            {% for block in section.blocks%}
                                <div class="col-md-6 nullPadding">
                                    <a href="{{ block.settings.item_link}}">
                                        <div class="pro-service-box-two">
                                            <h6>{{ block.settings.vartual_title }}</h6>
                                            <img src="{{ block.settings.vartual_image | img_url: '' }}"
                                                alt="" class="img-fluid grid_small_imgs_vartual">
                                        </div>
                                    </a>
                                </div> <!-- end col-md-6 -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div> <!-- end col-md- 4 -->

        </div> <!-- end row -->
    </div>
</div>

{% schema %}
{
  "name": "Vartual Online Service",
  "settings": [
    {
       "type": "image_picker",
       "id": "left_professional_image",
       "label": "Left Professional Image"
    },
    {
        "type": "text",
        "id": "contract_us_title",
        "label": "Contact Us Title",
        "default": "Left Professional Image"
    },
    {
        "type": "text",
        "id": "contact_phone",
        "label": "Phone Number",
        "default": "1-866-269-2847"
    },
    {
        "type": "text",
        "id": "contact_email",
        "label": "Email",
        "default": "service@ecopeststore.ca"
    },
    {
        "type": "text",
        "id": "contact_address",
        "label": "Address",
        "default": "8605 Coronet Rd. Edmonton, AB"
    },
    {
        "type": "text",
        "id": "form_title",
        "label": "Form Title",
        "default": "Book a Professional Onsite Service!"
    },
    {
        "type": "text",
        "id": "list_title",
        "label": "List Title",
        "default": "Your Title"
    },
    {
        "type": "richtext",
        "id": "list_details",
        "label": "List Item",
        "default": "<p>Book a Professional Onsite Service!</p>"
    },
    {
        "type": "product",
        "id": "select_time_product",
        "label": "Select Time Product"
    }


  ],
    "blocks": [
        {
            "name": "Vartual Online Item",
            "type": "product",
            "settings": [
                {
                    "type": "text",
                    "id": "vartual_title",
                    "label": "Vartual Title",
                    "default": "Book a Virtual Online vartual"
                },
                {
                    "type": "image_picker",
                    "id": "vartual_image",
                    "label": "vartual Image"
                },
                {
                    "type": "url",
                    "id": "item_link",
                    "label": "Item Link"
                }
                
            ]
        }
    ],

  "presets": [
    {
      "name": "Vartual Online Service",
      "blocks": [
        {
            "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}

  