
{% paginate collection.products by 12 %}

{% section 'collectionheader' %}

<div class="top-selling">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8">
        <div class="sec-title">
          <!-- <h2>Product Collection</h2> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="container">
        <div class="row">
          <!-- tab panel -->
          {% for product in collection.products %}
          <div class="col-lg-3">
            <div class="product-list">
              <!-- item -->
              <div class="item">
                <div class="card">
                  <div class="card-body text-center">
                    <img src="{{ product.featured_image.src | img_url: 'large' }}" class="img-fluid"
                      alt="{{ product.featured_image.alt | escape }}">
                    <a href="{{ product.url }}">
                      <h5>{{ product.title | truncate: 65 }}</h5>
                    </a>
                    {% unless product.available %}<strong class="soldout">sold out</strong>{% endunless %}
                    <p>{{ product.price | money }}</p>
                    <form method="post" action="/cart/add">
                      <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                      <input min="1" type="number" id="quantity" hidden name="quantity" value="1" />
                      <input type="submit" value="Add to cart" class="btn shop-now" />
                    </form>
                  </div>
                </div>
              </div>
              <!-- item -->
            </div>
          </div>
          {% else %}
          <p>no matches</p>
          {% endfor %}

          <!-- tab panel -->
        </div>
      </div>
    </div>

      <div class="pagination text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              {% if paginate.pages > 1 %}
              {{ paginate | default_pagination }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
</div>
<!-- top selling product -->

{% endpaginate %}